<div class="container">
  <!--Grid row-->
  <div class="row d-flex justify-content-center" style="margin-top: 100px">

    <!--Grid column-->
    <div class="col-md-6">

      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'text-center border border-light p-5'}) do |f| %>
        <p class="h4 mb-4">Sign in</p>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control mb-4' %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: 'form-control mb-4' %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Log in", class: 'btn btn-info' %>
        </div>
        <%= link_to 'To home', root_path, class: 'btn btn-primary' %>
      <% end %>

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</div>
